ul#menu {
    padding: 0;
    margin-bottom: 11px;
}

ul#menu li {
    display: flex;
    margin-right: 3px;
}

ul#menu li a {
    background-color: #ffffff;
    padding: 10px 20px;
    text-decoration: none;
    color: #696969;
    border-radius: 4px 4px 0 0;
}

ul#menu li a:hover {
    color: white;
    background-color: black;
}

div#main {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    align-items: flex-start; /* align elements at the top */
    justify-content: space-between;
    max-width: 900px;
    margin: 0 auto;
}

div#menu {
    flex: 0 0 auto;
}
    
div#content {
    max-width: 700px;
}

@media all and (max-width: 400px) {
    div#main {
        flex-direction: column;
        align-content: center;
    }
    
    div#menu {
        flex: 0 0 auto;
    }
}
